.auth-container {
  width: 100%;
  height: 100vh;
  background: linear-gradient(to bottom, #2e0066, #4b0082);
  display: flex;
  justify-content: center;
  align-items: center;
}

.auth-card {
  width: 350px;
  padding: 30px 30px 40px;
  background: rgba(255, 255, 255, 0.12);
  backdrop-filter: blur(12px);
  border-radius: 22px;
  text-align: center;
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.3);
}

.auth-title {
  color: white;
  font-size: 28px;
  margin-bottom: 25px;
  font-weight: bold;
}

.auth-input {
  width: 100%;
  padding: 12px;
  margin: 10px 0;
  border-radius: 8px;
  border: none;
  font-size: 15px;
  outline: none;
}

.auth-button {
  width: 100%;
  padding: 12px;
  background: #7a2de2;
  color: white;
  border: none;
  border-radius: 8px;
  font-size: 16px;
  margin-top: 10px;
  cursor: pointer;
  transition: 0.2s;
}

.auth-button:hover {
  background: #9b4aff;
}

.auth-link {
  display: block;
  margin-top: 20px;
  color: white;
  font-size: 16px;
  text-decoration: none;
}

.auth-link:hover {
  text-decoration: underline;
}
